.item {
  width: 100%;
  padding: 2px 5px;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.input_wrapper {
  width: 80%;
}
.input_wrapper span {
  padding: 0 5px;
  width: 20px;
}
.input_wrapper input {
  width: 80%;
  border: none;
}

.select {
  border: none;
}
