.container {
  display: flex;
  flex-direction: row;
  max-width: var(--max-width);
  margin: 0 auto;
}

.form {
  flex: 2;
}

.result {
  flex: 1;
}

@media (max-width: 481px) {
  .container {
    flex-direction: column-reverse;
  }
}
